<div class="form-container p-8 w-full">
    <div class="title w-full mb-10">
        <p class="text-3xl font-bold">Formulário de planos</p>
    </div>

    <form class="form flex flex-wrap p-8 gap-10" [formGroup]="clientForm">
        <div class="campos flex flex-wrap gap-10">
            <div class="nome">
                <mat-form-field class="w-sm">
                    <mat-label>Nome</mat-label>
                    <input [errorStateMatcher]="matcher" type="string" matInput formControlName="nome">
                    @if (clientForm.get('nome')?.hasError('required')) {
                      <mat-error>Campo obrigatório</mat-error>
                    }
                  </mat-form-field>
            </div>
    
            <div class="cpf">
                <mat-form-field class="w-sm">
                    <mat-label>CPF</mat-label>
                    <input [errorStateMatcher]="matcher" type="string" matInput formControlName="cpf">
                    @if (clientForm.get('cpf')?.hasError('required')) {
                      <mat-error>Campo obrigatório</mat-error>
                    }
                  </mat-form-field>
            </div>
    
            <div class="telefone">
                <mat-form-field class="w-sm">
                    <mat-label>Telefone</mat-label>
                    <input [errorStateMatcher]="matcher" type="string" matInput formControlName="telefone">
                    @if (clientForm.get('telefone')?.hasError('required')) {
                      <mat-error>Campo obrigatório</mat-error>
                    }
                  </mat-form-field>
            </div>
    
            <div class="email">
                <mat-form-field class="w-sm">
                    <mat-label>E-mail</mat-label>
                    <input [errorStateMatcher]="matcher" type="email" matInput formControlName="email">
                    @if (clientForm.get('email')?.hasError('required')) {
                      <mat-error>Campo obrigatório</mat-error>
                    }
                    @if (clientForm.get('email')?.hasError('email') && !clientForm.get('email')?.hasError('required')) {
                        <mat-error>Coloque um e-mail válido</mat-error>
                      }
                  </mat-form-field>
            </div>
        </div>

        <div class="btn-send w-full flex justify-end">
            <a (click)="confirmPopup()" class="text-2xl">Enviar</a>
        </div>
    </form>
</div>

@if(openPopup){
    <app-popup [popupText]="popupText" [isBackButton]="true" isPopupForm="client" [popupFormData]="clientForm.value" (backButton)="closePopup()" (confirmButton)="sendForm()" />
}
@else if (isServerError) {
  <app-popup [popupText]="popupText" [isBackButton]="false" isPopupForm="no" (confirmButton)="refresh()" />
}