<div class="dashboard-container p-8">
    <div class="title mb-20">
        <p class="text-3xl font-bold text-center">
            Gestão de Planos de Telefonia
        </p>
    </div>

    <div class="graphs-container flex gap-10 items-end justify-center p-5 mb-10">
        <div class="bar-graph">
            <p class="text-center font-bold">Proporção de clientes (em porcentagem) por plano.</p>

            <app-graficos chartType="barra" [clientData]="clientData" [planData]="planData" />
        </div>

        <div class="pie-graph">
            <p class="text-center font-bold">Clientes cadastrados por mês no último ano.</p>

            <app-graficos chartType="pizza" [clientData]="clientData" [planData]="planData" />
        </div>
    </div>

    <div class="subtitle">
        <p class="text-2xl font-bold text-center">Indicadores Numéricos</p>
    </div>

    <div class="numbers flex gap-10 items-end justify-center p-5">
        <app-indicators [clientData]="clientData" [planData]="planData"/>
    </div>
</div>

@if(openPopup){
    <app-popup [popupText]="popupText" [isBackButton]="false" isPopupForm="no" (confirmButton)="refresh()" />
}
