<div class="form-clientes-container w-full p-8">
    <div class="title text-center w-full mb-10">
        <p class="text-3xl font-bold">Gerênciamento de Clientes</p>
    </div>

    <div class="table-container p-6">
        <table mat-table [dataSource]="tableData" class="w-full mb-5">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="CPF">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="dataDeCriacao">
                <th mat-header-cell *matHeaderCellDef> Data de criação </th>
                <td mat-cell *matCellDef="let element"> {{element.dataDeCriacao}} </td>
            </ng-container>

            <ng-container matColumnDef="plano">
                <th mat-header-cell *matHeaderCellDef> Plano </th>
                <td mat-cell *matCellDef="let element"> {{element.plano ? element.plano : 'ainda não tem'}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a [href]="'clientes/form/' + element.id"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon></a>

                    <button (click)="deleteData(element.id)"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="button-container flex justify-end p-2">
            <a href="clientes/form">Criar Plano</a>
        </div>
    </div>
</div>

@if(openPopup){
    <app-popup [popupText]="popupText" [isBackButton]="false" isPopupForm="no" (confirmButton)="refresh()" />
}
