.form-clientes-container{
    .table-container{
        box-shadow: 3px 3px 11px #0000006e;
        background-color: #ffffff;
        border-radius: 14px;

        button{ cursor: pointer; }

        .button-container{
            a{
                background-color: #7bc5e7;
                border-radius: 14px;
                transition: all ease-in-out 0.2s;
                padding: 5px 10px;
            }

            a:hover{ background-color: #5f99b4; }
        }
    }
}