<div class="indicator-container">
    <div class="client-total text-center mb-5">
        <p>Temos um total de</p>
        <p class="font-bold text-3xl">{{clientData().length}}</p>
        <p>Clientes cadastrados</p>
    </div>

    <div class="plans flex gap-20">
        <div class="total-plans text-center">
            <p>Temos um total de</p>
            <p class="font-bold text-3xl">{{planData().length}}</p>
            <p>Planos cadastrados</p>
        </div>

        <div class="everage-plans text-center">
            <p>Temos uma média de</p>
            <p class="font-bold text-3xl">{{planMedia}}</p>
            <p>De planos por cliente</p>
        </div>
    </div>
</div>