<div class="app-container flex">
    <div class="navbar-container p-5 h-full" [@openClose]="openOrClose">
        <div class="call-nav-button-container">
            <button (click)="openOrClose = 'close'"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left"></mat-icon></button>
        </div>
    
        <a href="" class="flex justify-center mb-10">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone" class="home-icon"></mat-icon>
        </a>
    
        <div class="buttons flex flex-col gap-5">
            <a href="">Dashboard</a>
            <a href="planos">Gerenciamento de Planos</a>
            <a href="clientes">Gerenciamento de Clientes</a>
            <a href="associacao-clientes">Associação de Clientes</a>
        </div>
    </div>

    <div class="component-container">
        <button (click)="openOrClose = 'open'"><mat-icon aria-hidden="false" aria-label="Example home icon" class="p-5" fontIcon="keyboard_arrow_right"></mat-icon></button>
        <router-outlet />
    </div>
</div>
